rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /stores/{storeId} {
      allow read, write: if true;
    }
    match /articles/{articleId} {
      allow read, write: if true;
    }
    match /deliveries/{deliveryId} {
      allow read, write: if true;
    }
    match /transactions/{transactionId} {
      allow read, write: if true;
    }
    match /marketplace_subscriptions/{subId} {
      allow read, write: if true;
    }
    match /expenses/{expenseId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
